<ion-app>
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>CAYD Cipher App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item
            *ngFor="let page of pages"
            lines="none"
            [routerLink]="page.url"
            routerLinkActive="selected"
          >
            <ion-icon slot="start" [name]="page.icon"> </ion-icon>
            <ion-label> {{ page.title }} </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="main"> </ion-router-outlet>
</ion-app>
