<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CAYD Cipher App by Camilo Bernal &#169;
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        *ngFor="let item of cyphers"
        class="ion-text-center"
        sizeLg="4"
        sizeMd="6"
        size="8"
      >
        <ion-card
          class="ion-padding"
          button="true"
          [disabled]="item.disabled"
          [routerLink]="item.url"
        >
          <ion-card-header>
            <ion-card-title class="bold">
              {{ item.title | uppercase }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content> {{ item.description }} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
